<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HyperVHeartbeat</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>HyperVHeartbeat</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>HVType</key>
				<string>57164f39-9115-4e78-ab55-382f3bd5422d</string>
			</dict>
			<key>IOProviderClass</key>
			<string>HyperVVMBusDevice</string>
		</dict>
		<key>HyperVKeyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>HyperVKeyboard</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>HVType</key>
				<string>f912ad6d-2b17-48ea-bd65-f927a61c7684</string>
			</dict>
			<key>IOProviderClass</key>
			<string>HyperVVMBusDevice</string>
		</dict>
		<key>HyperVMouse</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>HyperVMouse</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>HVType</key>
				<string>cfa8b69e-5b4a-4cc0-b98b-8ba1a1f3f95a</string>
			</dict>
			<key>IOProviderClass</key>
			<string>HyperVVMBusDevice</string>
		</dict>
		<key>HyperVShutdown</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>HyperVShutdown</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>HVType</key>
				<string>0e0b6031-5213-4934-818b-38d90ced39db</string>
			</dict>
			<key>IOProviderClass</key>
			<string>HyperVVMBusDevice</string>
		</dict>
		<key>HyperVStorage</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>HyperVStorage</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>HVType</key>
				<string>ba6163d9-04a1-4d29-b605-72e2ffb1dc7f</string>
			</dict>
			<key>IOProviderClass</key>
			<string>HyperVVMBusDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>SCSI Parallel Interface</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>HyperVVMBusController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>HyperVVMBusController</string>
			<key>IONameMatch</key>
			<string>VMBS</string>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Goldfish64. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOSCSIParallelFamily</key>
		<string>2.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
